body {
    background-color: #6384e0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 20px;
}
img {
    width: 100%;
    max-width: 500px;
    height: auto;
}
#secaoCompra {
    position: fixed;
    bottom: 20px;
    left: 20px;
    color: white;
    font-size: 16px;
}
.botao {
    background-color: white;
    color: #1e3a8a;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}
.botao:hover {
    background-color: #e5e7eb;
}
.botaoVoltar {
    position: fixed;
    top: 20px;
    left: 20px;
    background-color: #4488ef; /* Vermelho */
    color: white;
    padding: 0.75rem 1.5rem;
    border-radius: 0.25rem; 
    border: 2px solid #ffffff; 
    font-weight: bold;
    transition: background-color 0.2s, transform 0.2s;
}
.botaoVoltar:hover {
    transform: scale(1.05); 
}
.comprar {
    background-color: #22c55e;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    margin-top: 0.5rem;
}
.comprar:hover {
    background-color: #16a34a;
}
.objeto {
    display: flex;
    justify-content: center;
    align-items: center;
}